#repeeet * {
  border-radius: 0;
}

.row.padded {
  padding: 0 5%;
}

textarea {
  resize: none;
}

.fixed-wrap {
  position: fixed;
  height: 100%;
  width: 100%;
}

.middle-wrap {
  display: table;
  width: 100%;
  height: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.new-tweet-guest {
  margin-top: 2rem;
}

.newtweet-default {
  font-style: italic;
  opacity: 0.5;
}

.kawasaki-quote a:hover {
  text-decoration: none;
}

.homepage-heading {
  font-size: 15rem;
  line-height: 1;
  font-variant: small-caps;
  text-align: center;
}

.homepage-heading small {
  color: #333;
}

.homepage-subheading {
  font-size: 3rem;
  line-height: 1;
  font-variant: small-caps;
  text-align: center;
}

.homepage-subheading small {
  color: #333;
}

.btn.variation-time-button:focus,
.btn.variation-time-button:active:focus,
.btn.variation-time-button.active:focus
.btn.variation-time-button {
  outline: none;
}

.variation-time-button.selected {
  font-weight: bold;
}
