#repeeet * {
  border-radius: 0;
}

.row.padded {
  padding: 0 5%;
}

textarea {
  resize: none;
}

.fixed-wrap {
  position: fixed;
  height: 100%;
  width: 100%;
}

.middle-wrap {
  display: table;
  width: 100%;
  height: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.new-tweet-guest {
  margin-top: 2rem;
}

.newtweet-default {
  font-style: italic;
  opacity: 0.5;
}

.kawasaki-quote a:hover {
  text-decoration: none;
}

.homepage-heading {
  font-size: 15rem;
  line-height: 1;
  font-variant: small-caps;
  text-align: center;
  color: #555;
  margin: 10px 0 0px 0;
}

.homepage-heading .glyphicon-repeat {
  color: rgb(90, 190, 34);
}

.homepage-heading small {
  color: #333;
}

.homepage-subheading {
  font-size: 3rem;
  line-height: 1;
  text-align: center;
  margin: 0px 0 30px 0;
  color: #555;
}

.homepage-subheading small {
  color: #333;
}

.btn.variation-time-button:focus,
.btn.variation-time-button:active:focus,
.btn.variation-time-button.active:focus
.btn.variation-time-button {
  outline: none;
}

.variation-time-button.selected {
  font-weight: bold;
}

.btn-modified {
  border: 1px solid rgb(200, 255, 179);
  background-color: rgb(250, 255, 250);
}

.newtweet-post {
  background-color: rgb(95, 156, 76);
  border: 1px solid rgb(81, 184, 1);
  outline: 0;
  color: white;
  padding: 5px 0;
}

.newtweet-post:hover {
  background-color: rgb(90, 190, 34);
}

.repeeet-green {
  color: rgb(90, 190, 34);
  padding-bottom: 3px;
  border-bottom: 2px solid rgb(90, 190, 34);
}

.navbar-modified {
  background-color: #FAFFF7;
  border-color: #E4FFE0;
}


.form-control:focus {
  border-color: #BADFC6;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(216, 238, 199, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(203, 255, 205, 0.6);
}