<template name="tweetItem">
  <div class="panel panel-default">
    <div class="panel-body">
      {{defaultText}}
    </div>
    <div class="panel-footer">
      <div class="pull-left">
        {{#each variations}}
        {{#if enabled}}
        <button class="btn btn-default btn-xs variation-time-button">{{toDay time}}</button>
        {{else}}
        <button class="btn btn-default btn-xs variation-time-button" disabled>{{toDay time}}</button>
        {{/if}}
        {{/each}}
      </div>
      <div class="pull-right">
        <button class="tweet-delete btn btn-default btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
      </div>
      <br>
    </div>
  </div>
</template>