<template name="guest">
  <div class="fixed-wrap">
    <div class="middle-wrap">
      <div class="middle">
        <div class="container">
          <div class="row">
            <h1 class="homepage-heading">R<small><span class="glyphicon glyphicon-repeat"></span></small>peeet</h1>
            <h2 class="homepage-subheading">making R<small><span class="glyphicon glyphicon-repeat"></span></small>peeet tweeting so simple</h2>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 kawasaki-quote">
              <p class="lead">
                <a href="https://plus.google.com/+GuyKawasaki/posts/f5pwVEEYVfS">
                  &ldquo;Trust me and try repeating your tweets&rdquo;<br><small>- Guy Kawasaki</small>
                </a>
              </p>
            </div>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 new-tweet-guest">
              {{> newTweet}}
            </div>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 new-tweet-guest">
              <a href="https://github.com/mnmtanish/repeeet" class="btn btn-default btn-xs" role="button">
                <span class="glyphicon glyphicon-cutlery"></span> Fork on Github
              </a>
              <a href="https://github.com/mnmtanish/repeeet/issues" class="btn btn-default btn-xs" role="button">
                <span class="glyphicon glyphicon-user"></span> Support
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
