<template name="guest">
  <div class="fixed-wrap">
    <div class="middle-wrap">
      <div class="middle">

        <div class="row">

          <div class="col-xs-12 col-md-6 col-md-offset-3 quote">
            <p class="lead">&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, eligendi, at ratione nulla vero accusamus libero.&rdquo;<br><small>- Guy Kawasaki</small></p>
          </div>

          <hr>

          <div class="col-xs-12 col-md-6 col-md-offset-3 new-tweet-guest">
            {{> newTweet}}
          </div>

        </div>

      </div>
    </div>
  </div>
</template>